*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Sem01/Demo01/nbproject/private/
/Sem01/Demo01/build/
/Sem01/Demo01/dist/
/Sem02/MVCDemo/nbproject/private/
/Sem02/MVCDemo/build/
/Sem02/MVCDemo JSTL/nbproject/private/
/Sem02/MVCDemo JSTL/build/
/Sem02/DemoCarrito/nbproject/private/
/Sem02/DemoCarrito/build/
/Sem04/DemoJDBC/nbproject/private/
/Sem04/DemoJDBC/build/
/Sem05/DemoJDBC/nbproject/private/
/Sem05/DemoJDBC/build/
/Sem06/SolPract02/nbproject/private/
/Sem06/EurekaLib/nbproject/private/
/Sem06/EurekaLib/build/
/Sem06/EurekaLib/dist/
/Sem06/DemoJDBC/dist/
/Sem06/SolPract02/build/
/Sem06/EurekaLib_1/nbproject/private/
/Sem06/EurekaLib_1/build/